apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Values.jobName }}-once
  annotations:
    "helm.sh/hook": post-install
    "helm.sh/hook-weight": "10"
    "helm.sh/hook-delete-policy": hook-succeeded
spec:
  backoffLimit: 1
  template:
    spec:
      serviceAccountName: {{ .Values.serviceAccountName }}
      restartPolicy: Never
      containers:
        - name: renew
          image: {{ .Values.elasticsearch.image }}
          imagePullPolicy: IfNotPresent
          command: ["/bin/bash", "/scripts/cert-renew.sh"]
          env:
            - name: CERT_RENEW_DAYS
              value: "{{ .Values.certRenewDays }}"

            - name: CA_SECRET_NAME
              valueFrom:
                configMapKeyRef:
                  name: global-vars
                  key: ElasticSearchConfig__CaSecretName

            - name: NS
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace

          volumeMounts:
            - name: renew-script
              mountPath: /scripts
      volumes:
        - name: renew-script
          configMap:
            name: cert-renew-script
            defaultMode: 0755
