apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .Values.jobName }}-cron
spec:
  schedule: "0 3 * * *" # run once a day at 03:00
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: 3600
      backoffLimit: 1
      template:
        spec:
          serviceAccountName: {{ .Values.serviceAccountName }}
          restartPolicy: Never

          containers:
            - name: renew
              image: {{ .Values.elasticsearch.image }}
              imagePullPolicy: IfNotPresent
              command: ["/bin/bash", "/scripts/cert-renew.sh"]

              env:
                - name: CERT_RENEW_DAYS
                  value: "{{ .Values.certRenewDays }}"

                - name: CA_SECRET_NAME
                  valueFrom:
                    configMapKeyRef:
                      name: global-vars
                      key: ElasticSearchConfig__CaSecretName

                - name: NS
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace

              volumeMounts:
                - name: renew-script
                  mountPath: /scripts
                  readOnly: true

          volumes:
            - name: renew-script
              configMap:
                name: cert-renew-script
                defaultMode: 0755
