# .NET Core
bin/
obj/
# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Others
*.dbmdl
*.pdb
*.cache
*.zip