mode: deployment

replicaCount: 1

image:
  repository: otel/opentelemetry-collector-contrib

service:
  type: ClusterIP

ports:
  otlp:
    enabled: true
    containerPort: 4317
    servicePort: 4317
    protocol: TCP

  otlp-http:
    enabled: true
    containerPort: 4318
    servicePort: 4318
    protocol: TCP

  metrics:
    enabled: true
    containerPort: 8889
    servicePort: 8889
    protocol: TCP

config:
  receivers:
    otlp:
      protocols:
        grpc: {}
        http: {}

  processors:
    memory_limiter:
      check_interval: 5s
      limit_mib: 400
      spike_limit_mib: 100

    batch:
      timeout: 5s
      send_batch_size: 1024

    resource:
      attributes:
        - key: environment
          value: local
          action: insert

  exporters:
    otlp/tempo:
      endpoint: tempo-distributor.observability.svc.cluster.local:4317
      tls:
        insecure: true

    otlphttp/loki:
      endpoint: http://loki.observability.svc.cluster.local:3100/otlp

    prometheus:
      endpoint: "0.0.0.0:8889"

  service:
    pipelines:
      traces:
        receivers: [otlp]
        processors: [memory_limiter, resource, batch]
        exporters: [otlp/tempo]

      logs:
        receivers: [otlp]
        processors: [memory_limiter, resource, batch]
        exporters: [otlphttp/loki]

      metrics:
        receivers: [otlp]
        processors: [memory_limiter, resource, batch]
        exporters: [prometheus]
