compactor:
  affinity: |
    {}
  config:
    compaction:
      block_retention: 168h
  extraVolumeMounts:
    - mountPath: /tempo-nfs
      name: tempo-nfs
  extraVolumes:
    - name: tempo-nfs
      persistentVolumeClaim:
        claimName: tempo-shared
distributor:
  affinity: |
    {}
  extraVolumeMounts:
    - mountPath: /tempo-nfs
      name: tempo-nfs
  extraVolumes:
    - name: tempo-nfs
      persistentVolumeClaim:
        claimName: tempo-shared
gateway:
  affinity: |
    {}
ingester:
  config:
    replication_factor: 1
  extraVolumeMounts:
    - mountPath: /tempo-nfs
      name: tempo-nfs
  extraVolumes:
    - name: tempo-nfs
      persistentVolumeClaim:
        claimName: tempo-shared
  replicas: 1
memcached:
  affinity: |
    {}
metricsGenerator:
  affinity: |
    {}
  enabled: true
  extraVolumeMounts:
    - mountPath: /tempo-nfs
      name: tempo-nfs
  extraVolumes:
    - name: tempo-nfs
      persistentVolumeClaim:
        claimName: tempo-shared
  replicas: 1
monitoring:
  dashboards:
    enabled: false
  rules:
    enabled: false
  serviceMonitor:
    enabled: false
querier:
  affinity: |
    {}
  extraVolumeMounts:
    - mountPath: /tempo-nfs
      name: tempo-nfs
  extraVolumes:
    - name: tempo-nfs
      persistentVolumeClaim:
        claimName: tempo-shared
queryFrontend:
  affinity: |
    {}
  config:
    metrics:
      query_backend_after: 2h
  extraVolumeMounts:
    - mountPath: /tempo-nfs
      name: tempo-nfs
  extraVolumes:
    - name: tempo-nfs
      persistentVolumeClaim:
        claimName: tempo-shared
search:
  enabled: true
storage:
  trace:
    backend: local

metaMonitoring:
  serviceMonitor:
    enabled: true
    labels:
      release: prometheus
tempo:
  structuredConfig:
    auth_enabled: false
    metrics_generator:
      processor:
        local_blocks:
          flush_to_storage: true
      storage:
        path: /tempo-nfs/metrics-wal
        remote_write:
          - url: http://prometheus-kube-prometheus-prometheus.observability.svc.cluster.local:9090/api/v1/write
      traces_storage:
        path: /tempo-nfs/traces
      traces_query_storage:
        path: /tempo-nfs/traces-query-wal
    overrides:
      defaults:
        metrics_generator:
          processors:
          - local-blocks
          - service-graphs
          - span-metrics
      per_tenant_override_config: ""
    storage:
      trace:
        local:
          path: /tempo-nfs/traces
        wal:
          path: /tempo-nfs/wal
traces:
  otlp:
    grpc:
      enabled: true
    http:
      enabled: true
