{{- if .Values.dbup.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-dbup-scripts
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-55"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
data:
{{- $files := .Files.Glob "Migrations/*.sql" }}
{{- range $path, $file := $files }}
  {{ base $path }}: |-
{{ $file | toString | indent 4 }}
{{- end }}
{{- end }}
