# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*.log

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# Visual Studio Code
.vscode/

# Others
*.dbmdl
*.pdb
*.cache
*.zip
*.vspscc
*.vssscc
*.tmp
*.bak
*.swp
*.swo
*.sln.ide

HiddenREADME.md
**/values.secrets.yaml
*.env
.devtests/**
copilot-instructions.md
prompts/
values.secret.yaml
Chart.lock

# Local (untracked) docs
**/README*.local.md