apiVersion: v1
kind: ConfigMap
metadata:
  name: global-vars
  annotations:
    kubed.appscode.com/sync: "true"
    kubed.appscode.com/sync.pattern: ".*"
data:
  ElasticSearchConfig__ClusterUrl: {{ .Values.ElasticSearchConfig__ClusterUrl | quote }}
  ElasticSearchConfig__CaSecretName: "es-ca"
  ElasticSearchConfig__ApiKeySecretName: "es-api-key"

  OTEL_EXPORTER_OTLP_ENDPOINT: http://{{ .Values.observability.otlpService }}.{{ .Values.observability.namespace }}.svc.cluster.local:{{ .Values.observability.otlpPort }}
  OTEL_EXPORTER_OTLP_PROTOCOL: {{ .Values.observability.otlpProtocol | default "grpc" | quote }}

  ClickhouseConfig__ConnectionString: "Host={{ .Values.clickhouse.resourcePrefix }}-svc.{{ .Values.clickhouse.namespace }}.svc.cluster.local;Port={{ .Values.clickhouse.port }};Database={{ .Values.clickhouse.database }};Username={{ .Values.clickhouse.username }};Password={{ .Values.clickhouse.password | default "" }};Compress={{ .Values.clickhouse.compress }}"

  AppServiceNamespace: "app-services"
  {{- if .Values.envSpecific }}
  {{- range $key, $value := .Values.envSpecific }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- end }}