apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.elasticsearch.resourcePrefix }}-config
data:
  elasticsearch.yml: |
    cluster.name: {{ .Values.clusterName }}
    node.name: ${HOSTNAME}
    network.host: 0.0.0.0
    discovery.seed_hosts: "{{ .Values.elasticsearch.resourcePrefix }}-master-0.{{ .Values.elasticsearch.resourcePrefix }}-master"
    cluster.initial_master_nodes: "{{ .Values.elasticsearch.resourcePrefix }}-master-0"

    xpack.security.enabled: true

    # ===========================
    # HTTP SSL CONFIG
    # ===========================
    xpack.security.http.ssl.enabled: true
    xpack.security.http.ssl.keystore.path: certs/http.p12
    xpack.security.http.ssl.keystore.password: ${ES_HTTP_P12_PASSWORD}

    # TRUSTSTORE (PEM)
    xpack.security.http.ssl.certificate_authorities: ["certs/ca.crt"]

    # ===========================
    # TRANSPORT SSL CONFIG
    # ===========================
    xpack.security.transport.ssl.enabled: true
    xpack.security.transport.ssl.verification_mode: certificate

    xpack.security.transport.ssl.keystore.path: certs/transport.p12
    xpack.security.transport.ssl.keystore.password: ${ES_TRANSPORT_P12_PASSWORD}

    # TRUSTSTORE (PEM)
    xpack.security.transport.ssl.certificate_authorities: ["certs/ca.crt"]