grafana:
  enabled: false

alertmanager:
  enabled: true

prometheus:
  prometheusSpec:
    retention: 24h
    scrapeInterval: 30s
    evaluationInterval: 30s
    enableRemoteWriteReceiver: true
  service:
    type: NodePort
    nodePort: 30909  

kube-state-metrics:
  prometheus:
    monitor:
      metricRelabelings:
        - action: replace
          sourceLabels: [pod]
          targetLabel: k8s_pod_name
  metricLabelsAllowlist:
    - pods=[service_name,environment]

