grafana:
  enabled: false

alertmanager:
  enabled: true

prometheus:
  prometheusSpec:
    retention: 24h
    scrapeInterval: 30s
    evaluationInterval: 30s
  service:
    type: NodePort
    nodePort: 30909  
