apiVersion: v1
kind: Service
metadata:
  name: {{ include "common-values.cacheShortTermServiceName" . }}
spec:
  type: {{ .Values.service.type }}
  selector:
    app: {{ .Chart.Name }}
  ports:
    - protocol: TCP
      port: 80
      {{- if eq .Values.service.type "NodePort" }}
      nodePort: {{ include "common-values.cacheShortTermServiceNodePort" . }}
      {{- end }}