master:
  replicas: 1
  persistence:
    storageClass: "hostpath"

data:
  replicas: 1
  persistence:
    storageClass: "hostpath"

resources:
  requests:
    cpu: 200m
    memory: 1Gi
  limits:
    cpu: 500m
    memory: 1Gi
