apiVersion: v1
kind: Service
metadata:
  name: {{ $.Values.clickhouse.resourcePrefix }}-svc-external
spec:
  type: {{ $.Values.service.type }}
  ports:
    - port: {{ $.Values.clickhouse.port }}
      name: http
      {{- if eq $.Values.service.type "NodePort" }}
      nodePort: {{ $.Values.service.nodePort.http }}
      {{- end }}
    - port: 9000
      name: tcp
  selector:
    app: {{ $.Values.clickhouse.resourcePrefix }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $.Values.clickhouse.resourcePrefix }}-svc
spec:
  type: ClusterIP
  ports:
    - port: {{ $.Values.clickhouse.port }}
      name: http
    - port: 9000
      name: tcp
  selector:
    app: {{ $.Values.clickhouse.resourcePrefix }}

