apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $.Chart.Name }}
spec:
  replicas: {{ $.replicaCount }}
  selector:
    matchLabels:
      app: {{ $.Chart.Name }}
  template:
    metadata:
      annotations:
        rollme: {{ now | quote }}
      labels:
        app: {{ $.Chart.Name }}
        environment: {{ .Values.environment }}
        service_name: {{ $.Chart.Name }}
    spec:

      {{- include "config-merge.initConfigAggregator" $ | nindent 6 }}

      containers:
        - name: cache-long-term
          image: "{{ $.Values.image.repository }}:{{ $.Values.image.tag }}"
          imagePullPolicy: {{ $.Values.image.pullPolicy }}
          ports:
            - containerPort: 80
          env:
            - name: OTEL_SERVICE_NAME
              value: {{ .Chart.Name | quote }}
              
            - name: OTEL_SERVICE_VERSION
              value: {{ .Chart.AppVersion | quote }}

            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              valueFrom:
                configMapKeyRef:
                  name: global-vars
                  key: OTEL_EXPORTER_OTLP_ENDPOINT

            - name: OTEL_EXPORTER_OTLP_PROTOCOL
              valueFrom:
                configMapKeyRef:
                  name: global-vars
                  key: OTEL_EXPORTER_OTLP_PROTOCOL

            {{- range $key, $value := $.Values.env }}
            - name: {{ $key }}
              value: "{{ $value }}"
            {{- end }}
          {{- if $.Values.resources }}
          resources: {{- toYaml $.Values.resources | nindent 12 }}
          {{- end }}

          volumeMounts:
            - name: kafka-client-secret
              mountPath: /etc/secrets
              readOnly: true

            {{- include "config-merge.initConfigVolumeMounts" $ | nindent 12 }}

      volumes:
        - name: kafka-client-secret
          secret:
            secretName: kafka-client-secret

        {{- include "config-merge.initConfigVolumes" $ | nindent 8 }}
---
{{- include "config-merge.initConfigRbac" . }}
