{{- if .Values.sqlserver.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Chart.Name }}-secrets
stringData:
  MSSQL_SA_PASSWORD: {{ .Values.sqlserver.credentials.saPassword | quote }}

  metricsConnectionString: {{ .Values.sqlserver.metricsConnectionString | quote }}

  SQLSERVER_METRICS_USER: {{ .Values.sqlserver.credentials.metricsUser | quote }}
  SQLSERVER_METRICS_PASSWORD: {{ .Values.sqlserver.credentials.metricsPassword | quote }}

  {{- range $i, $db := .Values.sqlserver.databases }}
  SQLSERVER_DB_{{ $i }}: {{ $db.name | quote }}
  SQLSERVER_APP_USER_{{ $i }}: {{ $db.appUser | quote }}
  SQLSERVER_APP_PASSWORD_{{ $i }}: {{ $db.appPassword | quote }}
  {{- end }}
{{- end }}
