replicaCount: 1

image:
  repository: myregistry.azurecr.io/cache-short-term
  tag: latest
  pullPolicy: IfNotPresent

env:
  ASPNETCORE_ENVIRONMENT: Development

resources:
  limits:
    cpu: "1"
    memory: "1Gi"
  requests:
    cpu: "100m"
    memory: "256Mi"

service:
  type: ClusterIP
  port: 80