apiVersion: v1
kind: ConfigMap
metadata:
  name: eck1-integration-manifest
  labels:
    config-type: integration-config
data:
  ECK1.IntegrationContracts.Kafka.IntegrationRecords.Sample.SampleFullRecord: |
    EventsTopic: sample-thin-events
    RecordTopic: sample-full-records
    Plugins: 
      Elasticsearch: 
        Fields:
          - "sampleId"
          - "name"
          - "description"
          - "address.street"
          - "address.city"
          - "address.country"
          - "attachments.id"
          - "attachments.fileName"
          - "attachments.url"
        Indexes: 
          - sample-full-records

      Clickhouse:
        Fields:
          - sampleId
          - version
          - name
          - address.street
          - address.city
          - address.country
          - attachments.fileName
          - attachments.url

        Table: integration_events_raw

        Mappings:
          format: object[]
          items:
            event_id:
              source: event.EventId
              type: System.Guid

            event_type:
              source: event.EventType
              type: string

            occurred_at:
              source: event.OccuredAt
              type: System.DateTime

            entity_id:
              source: event.EntityId
              type: System.Guid

            entity_type:
              source: const.Sample
              type: string

            entity_version:
              source: record.Version
              type: int

            payload:
              format: json
              fields:
                sample_id: record.SampleId
                name: record.Name
                version: record.Version

                address_city: record.Address.City
                address_country: record.Address.Country

                attachments:
                  type: array
                  context: record.Attachments
                  items:
                    - fileName: item.FileName
                    - url: item.Url

